<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% capture page_title %}
      {{- page.title | strip_html | strip_newlines -}}
    {% endcapture %}
    <title>
      {%- if page_title != "" -%}
        {{ page_title | escape }}, {{ site.metadata.title | escape }} - {{ site.metadata.organisation | escape }}
      {%- else -%}
        {{ site.metadata.title | escape }} - {{ site.metadata.organisation | escape }}
      {%- endif -%}
    </title>

    <meta name="description" content="{{ site.metadata.description }}" />

    <link rel="stylesheet" href="{% webpack_path css %}" />
    <script src="{% webpack_path js %}" defer></script>
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {% render "header/header", site: site, page: page %}
    {% render "sidebar/sidebar", site: site, page: page %}

    <main>
      {{ content }}
    </main>

    {% render "footer/footer", site: site %}
  </body>
</html>
